.view-user{
    width: 100vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding: 25px;
}

.user__profile{
    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    font-weight: 500;
    font-size: 17px;
    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);
}

.user__profile img{
    width: 100px;
    height: 70px;
}

.user__profile a{
    text-decoration: underline;
}

.user__contributions{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}

.user__contribution{
    padding: 10px;
    border-radius: 15px;
    width: 47%;
    height: 45vh;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.2);}

.user__contribution span{
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
}

.user__contribution p{
    color: gray;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    line-height: 30px;
    height: 90%;
    overflow-y: scroll;
}

@media(max-width:1000px){
    .user__contribution{
        width: 85%;
    }
}

