.project{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}

.project h2{
    color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project p{
    max-width: 95%;
}

.project__owner{
    color: blue;
}

.project__links{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    overflow-x: scroll;
}

.project__links span{
    text-decoration: underline;
}

.project__menu{
    position: relative;
}
.project__drop-down{
    display: none;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 0;
    right: 40%;
    border: 1px solid gray;
    padding: 5px 10px;
    background-color: white;
    width: 80px;
    border-radius: 7px;
}
.project__drop-down span{
    font-size: 17px;
    cursor: pointer;
}

.project__drop-down span:hover{
    text-decoration: underline;
}

.project__menu:hover .project__drop-down{
    display: flex;
}
