nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding-inline: 10px;
    padding-block: 5px;
    height: fit-content;
    background-color: rgb(245, 240, 240);
    font-weight: 500;
}

.nav__left img{
    width: 50px;
}

.nav__right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav__right button{
    padding: 5px;
    outline: none;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 15px;
    font-weight: 500;
}

.nav__right .nav__sign-in{
    background-color: blue;
    color: white;
    border: none;
}

.nav__right .nav__log-in{
    background-color: white;
    border: 2px solid blue;
    color: blue;
}

.nav__right{
    position: relative;
    height: 100%;
}

.nav__dropdown{
    display: none;
    flex-direction: column;
    gap: 7px;
    border: 1px solid black;
    border-radius: 5px;
    position:absolute;
    top: 50%;
    right: 0px;
    width: 120px;
    background-color: white;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.nav__right:hover .nav__dropdown{
    display: flex;
}

.nav__dashboard{
    color: blue;
}

.nav__log-out{
    color:red;
}



